local
secret
tmp
.env
.env.dev
.env.local
*.tsbuildinfo
.env*.local
.DS_Store
node_modules

**/node_modules/*
**/.pnp/*
**/.pnp.js/*
**/coverage/*
**/out/*
**/build/*
**/.DS_Store/*
**/*.pem/*
**/*.log/*
**/release/*
**/local/*
**/secret/*
**/tmp/*
